#body {
	max-width:900px;
}

#header {
	max-width: inherit;
	position:relative;
	border: 1px solid black;
}

#logo {
	float:left;
	border: 1px solid green;
	min-height: 120px;
}

#banner {
	float:right;
	border: 1px solid yellow;
	min-height: 90px;
}

#menu {
	float:left;
	border: 1px solid red;
	min-height: 30px;
}